body {
	font-family: 'Roboto', sans-serif;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.red {
  color: red;
  font-family: "Andale Mono", AndaleMono, monospace;
}

#notRed {
  color: black;
  font-family: "Andale Mono", AndaleMono, monospace;
}

.chair {
  display: inline-block;
  margin: 0 auto;
  transform: translateX(calc(50vw - 50%));
  border-radius: 50%;
}